@{
    ViewData["Title"] = "Home Page";
}

<style>
    .image-background {
        position: relative;
        text-align: center;
        color: white;
    }

        .image-background img {
            display: block;
            width: 100%;
            height: auto;
            opacity: 0.5;
        }

        .image-background .text-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
        }
</style>

<div class="image-background">
    <img src="https://images6.alphacoders.com/872/872784.jpg" alt="We can't show you the photo, sorry">
    <div class="text-overlay">
        <h2 class="display-4">Welcome to the Faculty Archive</h2>
    </div>
</div>
